header,
footer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

select:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}
